<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Angular Tic-Tac-Toe</title>
  <link rel="stylesheet" href="style.css">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="TicTacToe">
  <h1>Angular Tic-Tac-Toe</h1>
  <i>by <a href="https://babelthuap.github.io/">Nicholas Neumann-Chun</a></i>
  <hr>

  <div id="game" ng-controller="gameCtrl">

    <table id="board">
      <tbody>
        <tr ng-repeat="row in board track by $index">
          <td ng-repeat="square in row track by $index"
              ng-click="handleClick($parent.$index, $index)">
            {{square}}
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="game-indicator" ng-show="gameRunning">{{whoseTurn}}'s Turn</h2>
    <h2 class="game-indicator" ng-hide="gameRunning">{{endGameMessage}}</h2>
    <button ng-hide="gameRunning" ng-click="newGame()">Restart!</button>

  </div>
</body>

</html>
