body {
  background-color: #DFD;
  font-family: monospace;
  text-align: center;
}

hr {
  margin: 1em;
}

#board {
  border-collapse: collapse;
  margin: auto;
}

#board td {
  background-color: #BBB;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 64px;
  height: 100px;
  width: 100px;
}

#board td:hover {
  background-color: #AAA;
}

.game-indicator {
  color: white;
  text-shadow: 1px 1px 1px #000,
               -1px -1px 1px #000,
               -1px 1px 1px #000,
               1px -1px 1px #000;
}

.game-indicator:nth-of-type(2) {
  color: red;
}
